venv/
.venv/
env/
__pycache__/
*.pyc
.DS_Store
ENGR-498-Project/fusion/native/build/
ENGR-498-Project/fusion/native/*.dll
ENGR-498-Project/fusion/native/*.exp
ENGR-498-Project/fusion/native/*.lib
ENGR-498-Project/fusion/calibration_test/georeferenced_outputs/
ENGR-498-Project/fusion/outputs/
ENGR-498-Project/rosbag_preprocessing/context/runtime/
!ENGR-498-Project/rosbag_preprocessing/context/runtime/home/
!ENGR-498-Project/rosbag_preprocessing/context/runtime/home/portable/
!ENGR-498-Project/rosbag_preprocessing/context/runtime/home/portable/.gitkeep
!ENGR-498-Project/rosbag_preprocessing/context/runtime/usr_local/
!ENGR-498-Project/rosbag_preprocessing/context/runtime/usr_local/lib/
!ENGR-498-Project/rosbag_preprocessing/context/runtime/usr_local/lib/.gitkeep
!ENGR-498-Project/rosbag_preprocessing/context/runtime/usr_local/share/
!ENGR-498-Project/rosbag_preprocessing/context/runtime/usr_local/share/.gitkeep
ENGR-498-Project/rosbag_preprocessing/outputs/
!ENGR-498-Project/rosbag_preprocessing/outputs/
!ENGR-498-Project/rosbag_preprocessing/outputs/calibration/
!ENGR-498-Project/rosbag_preprocessing/outputs/calibration/.gitkeep
!ENGR-498-Project/rosbag_preprocessing/outputs/pose_recovery/
!ENGR-498-Project/rosbag_preprocessing/outputs/pose_recovery/.gitkeep
ENGR-498-Project/rosbag_preprocessing/dist/
!ENGR-498-Project/rosbag_preprocessing/dist/
!ENGR-498-Project/rosbag_preprocessing/dist/.gitkeep
