venv/
.venv/
env/
__pycache__/
*.pyc
.DS_Store
ENGR-498-Project/fusion/native/build/
ENGR-498-Project/fusion/native/*.dll
ENGR-498-Project/fusion/native/*.exp
ENGR-498-Project/fusion/native/*.lib
ENGR-498-Project/fusion/calibration_test/georeferenced_outputs/
ENGR-498-Project/fusion/outputs/
ENGR-498-Project/rosbag_preprocessing/outputs/
!ENGR-498-Project/rosbag_preprocessing/outputs/
!ENGR-498-Project/rosbag_preprocessing/outputs/calibration/
!ENGR-498-Project/rosbag_preprocessing/outputs/calibration/.gitkeep
!ENGR-498-Project/rosbag_preprocessing/outputs/pose_recovery/
!ENGR-498-Project/rosbag_preprocessing/outputs/pose_recovery/.gitkeep
ENGR-498-Project/rosbag_preprocessing/outputs/calibration/*
!ENGR-498-Project/rosbag_preprocessing/outputs/calibration/.gitkeep
ENGR-498-Project/rosbag_preprocessing/outputs/pose_recovery/*
!ENGR-498-Project/rosbag_preprocessing/outputs/pose_recovery/.gitkeep
ENGR-498-Project/rosbag_preprocessing/context/runtime/**/.git
ENGR-498-Project/rosbag_preprocessing/context/runtime/**/__pycache__/
ENGR-498-Project/rosbag_preprocessing/context/runtime/**/run_logs/
ENGR-498-Project/rosbag_preprocessing/context/runtime/**/pose_recovery_outputs/
ENGR-498-Project/rosbag_preprocessing/context/runtime/**/bags/
ENGR-498-Project/rosbag_preprocessing/context/runtime/**/PCD/
ENGR-498-Project/rosbag_preprocessing/context/runtime/**/Log/
ENGR-498-Project/rosbag_preprocessing/context/runtime/**/log/
ENGR-498-Project/rosbag_preprocessing/context/runtime/**/logs/
ENGR-498-Project/rosbag_preprocessing/context/runtime/**/calibration_runs/
ENGR-498-Project/rosbag_preprocessing/context/runtime/home/**/ws_livox/src/FAST_LIO/doc/
ENGR-498-Project/rosbag_preprocessing/dist/*
!ENGR-498-Project/rosbag_preprocessing/dist/
!ENGR-498-Project/rosbag_preprocessing/dist/.gitkeep
