# Auto detect text files and perform LF normalization
* text=auto
ENGR-498-Project/rosbag_preprocessing/context/runtime/home/portable/ws_calib/devel/lib/libdirect_visual_lidar_calibration.so filter=lfs diff=lfs merge=lfs -text
ENGR-498-Project/rosbag_preprocessing/context/runtime/home/portable/ws_livox/devel/lib/fast_lio/fastlio_mapping filter=lfs diff=lfs merge=lfs -text
