context/src
context/runtime/**/.git
context/runtime/**/build
!context/runtime/home/**/iridescence/
!context/runtime/home/**/iridescence/build/
!context/runtime/home/**/iridescence/build/libiridescence.so
!context/runtime/home/**/iridescence/build/libiridescence.so.1
!context/runtime/home/**/iridescence/build/libiridescence.so.1.0.1
context/runtime/**/devel/.private
context/runtime/**/.catkin_tools
context/runtime/**/__pycache__
context/runtime/**/run_logs
context/runtime/**/pose_recovery_outputs
context/runtime/**/bags
context/runtime/**/PCD
context/runtime/**/Log
context/runtime/**/log
context/runtime/**/logs
context/runtime/**/calibration_runs
context/runtime/home/**/ws_livox/src/FAST_LIO/doc
context/runtime/usr_local/lib/*.a
context/runtime/usr_local/lib/cmake
context/runtime/usr_local/lib/pkgconfig
dist
