context/src
rt/**/.git
rt/**/build
!rt/iri/
!rt/iri/build/
!rt/iri/build/libiridescence.so
!rt/iri/build/libiridescence.so.1
!rt/iri/build/libiridescence.so.1.0.1
rt/**/devel/.private
rt/**/.catkin_tools
rt/**/__pycache__
rt/**/run_logs
rt/**/pose_recovery_outputs
rt/**/bags
rt/**/PCD
rt/**/Log
rt/**/log
rt/**/logs
rt/**/calibration_runs
rt/livox/src/FAST_LIO/doc
rt/usr/lib/*.a
rt/usr/lib/cmake
rt/usr/lib/pkgconfig
dist
